Projeto/siap_automator_ollama_workflow_v4.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/siap-automator",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "conditions": [
          {
            "value1": "={{$json.body.action}}",
            "value2": "planejamento:gerarIA",
            "type": "string"
          },
          {
            "value1": "={{$json.body.action}}",
            "value2": "diario:gerarIA",
            "type": "string"
          }
        ]
      },
      "id": "routeTaskType",
      "name": "Route Task Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [480, 300]
    },
    {
      "parameters": {
        "url": "http://YOUR_OLLAMA_IP:11434/api/chat",
        "method": "POST",
        "jsonBody": true,
        "body": "={\n  \"model\": \"llama3.1\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Você é um assistente de IA especializado em educação, focado em criar planejamentos de aula detalhados para professores brasileiros. Seu objetivo é gerar Metodologia e Avaliação para um plano de aula, com base nas Habilidades da BNCC e nos Objetivos de Conhecimento fornecidos. O output deve ser em português do Brasil, formal, claro e objetivo. Use uma linguagem pedagógica adequada. Não inclua introduções ou conclusões genéricas. Apenas o conteúdo da Metodologia e Avaliação. Formate a saída em JSON com as chaves 'metodologia' e 'avaliacao'.\\n\\nExemplo de Output:\\n{\\n  \\\"metodologia\\\": \\\"A aula será iniciada com...\\\",\\n  \\\"avaliacao\\\": \\\"A avaliação será contínua...\\\"\\n}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Crie a Metodologia e Avaliação para um plano de aula com as seguintes Habilidades da BNCC: {{$json.body.habilidades}}. Objetivos de Conhecimento: {{$json.body.lessonData.objetivosDeConhecimento}}. Orientações Extras: {{$json.body.conteudoExtra}}\"\n    }\n  ],\n  \"stream\": false,\n  \"options\": {\n    \"temperature\": 0.7,\n    \"num_predict\": 2000\n  }\n}",
        "options": {
          "responseFormat": "json"
        }
      },
      "id": "ollamaGerarPlanejamento",
      "name": "Ollama - Gerar Planejamento",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [720, 180]
    },
    {
      "parameters": {
        "url": "http://YOUR_OLLAMA_IP:11434/api/chat",
        "method": "POST",
        "jsonBody": true,
        "body": "={\n  \"model\": \"llama3.1\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Você é um assistente de IA especializado em educação, focado em criar avaliações detalhadas para professores brasileiros. Seu objetivo é gerar apenas o conteúdo da Avaliação para um plano de aula, com base nas Habilidades da BNCC e nos Objetivos de Conhecimento fornecidos. O output deve ser em português do Brasil, formal, claro e objetivo. Não inclua introduções ou conclusões genéricas. Apenas o conteúdo da Avaliação. Formate a saída em JSON com a chave 'avaliacao'.\\n\\nExemplo de Output:\\n{\\n  \\\"avaliacao\\\": \\\"A avaliação será contínua...\\\"\\n}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Crie a Avaliação para um plano de aula com as seguintes Habilidades da BNCC: {{$json.body.habilidades}}. Objetivos de Conhecimento: {{$json.body.lessonData.objetivosDeConhecimento}}. Orientações Extras: {{$json.body.conteudoExtra}}\"\n    }\n  ],\n  \"stream\": false,\n  \"options\": {\n    \"temperature\": 0.7,\n    \"num_predict\": 1000\n  }\n}",
        "options": {
          "responseFormat": "json"
        }
      },
      "id": "ollamaGerarAvaliacao",
      "name": "Ollama - Gerar Avaliação",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [720, 300]
    },
    {
      "parameters": {
        "url": "http://YOUR_OLLAMA_IP:11434/api/chat",
        "method": "POST",
        "jsonBody": true,
        "body": "={\n  \"model\": \"llama3.1\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Você é um assistente de IA especializado em educação, focado em criar metodologias detalhadas para professores brasileiros. Seu objetivo é gerar apenas o conteúdo da Metodologia para um plano de aula, com base nas Habilidades da BNCC e nos Objetivos de Conhecimento fornecidos. O output deve ser em português do Brasil, formal, claro e objetivo. Não inclua introduções ou conclusões genéricas. Apenas o conteúdo da Metodologia. Formate a saída em JSON com a chave 'metodologia'.\\n\\nExemplo de Output:\\n{\\n  \\\"metodologia\\\": \\\"A aula será iniciada com...\\\"\\n}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Crie a Metodologia para um plano de aula com as seguintes Habilidades da BNCC: {{$json.body.habilidades}}. Objetivos de Conhecimento: {{$json.body.lessonData.objetivosDeConhecimento}}. Orientações Extras: {{$json.body.conteudoExtra}}\"\n    }\n  ],\n  \"stream\": false,\n  \"options\": {\n    \"temperature\": 0.7,\n    \"num_predict\": 1000\n  }\n}",
        "options": {
          "responseFormat": "json"
        }
      },
      "id": "ollamaGerarMetodologia",
      "name": "Ollama - Gerar Metodologia",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [720, 420]
    },
    {
      "parameters": {
        "responseCode": "200",
        "responseData": "={{$json.body}}",
        "responseMode": "default"
      },
      "id": "webhookResponse",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.webhookResponse",
      "typeVersion": 1,
      "position": [1200, 300]
    }
  ],
  "connections": {
    "Webhook": [
      {
        "node": "Route Task Type",
        "type": "main",
        "index": 0
      }
    ],
    "Route Task Type": [
      {
        "node": "Ollama - Gerar Planejamento",
        "type": "main",
        "index": 0
      },
      {
        "node": "Ollama - Gerar Avaliação",
        "type": "main",
        "index": 1
      },
      {
        "node": "Ollama - Gerar Metodologia",
        "type": "main",
        "index": 2
      }
    ],
    "Ollama - Gerar Planejamento": [
      {
        "node": "Webhook Response",
        "type": "main",
        "index": 0
      }
    ],
    "Ollama - Gerar Avaliação": [
      {
        "node": "Webhook Response",
        "type": "main",
        "index": 0
      }
    ],
    "Ollama - Gerar Metodologia": [
      {
        "node": "Webhook Response",
        "type": "main",
        "index": 0
      }
    ]
  }
}
